@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito-bold";
  src: url("font/Nunito-Bold.ttf");
}

@font-face {
  font-family: "nunito-regular";
  src: url("font/Nunito-Regular.ttf");
}

.link {
  @apply py-4 ml-8 font-nunito-bold hover:underline xl:py-4;
}

.button-primary {
  @apply flex px-8 py-2 mx-auto mt-16 text-lg text-white border-0 rounded btn-hero bg-primary;
}
.button-primary:focus {
  @apply outline-none;
}
.button-primary:hover {
  @apply text-white bg-tertiary;
}
.button-secondary {
  @apply flex px-8 py-2 mx-auto mt-16 text-lg text-white border-0 rounded bg-tertiary;
}
.button-secondary:focus {
  @apply outline-none;
}
.button-secondary:hover {
  @apply text-white bg-primary;
}

.btn-hero {
}
.wrapper {
  @apply container py-24 mx-auto md:py-32 xl:py-60;
}

.animate-grow {
  @apply transition duration-300 ease-in-out transform hover:scale-105;
}
